<header class="site-header">

    <section class="mcon-mainmenu" style="z-index: 5;">

        <div class="container">
            <div class="row">
                <div class="logo-con col-md-3">
                    <img src="{{ site.images_path }}/logoredtext.png" alt="{{ site.title }}" style="margin:0 auto"/>
                </div>
                <div class="main-menu-con">
                    <ul class="main-menu">
                        <li class=" active "><a href="index.html">Home</a></li>
                        <li class=" "><a href="domingos.html">Domingos</a></li>
                        <li class=" "><a href="mission.html">Mission</a></li>
                        <li class=""><a href="#">Info</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>
