<header class="site-header">

    <section class="mcon-mainmenu" style="z-index: 5;">

        <div class="container">
            <div class="row">
                <div class="logo-con col-md-3 col-sm-6">
                    <a href="index.html"><img src="{{ site.images_path }}/logos/Lateral_sinfondo.png" alt="{{ site.title }}" style="margin:0 auto"/></a>
                </div>
                <div id="navbar-main" class="col-md-9 col-sm-6 collapse navbar-collapse navbar-right">
                    <ul class="main-menu nav ">
                        <li class="home"><a href="index.html">INICIO</a></li>
                        <li class="domingos"><a href="index.html#domingo">DOMINGOS</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CONÉCTATE<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="cim.html">CIMIENTOS</a></li>
                                <li><a href="3d.html">3 D</a></li>
                                <li><a href="mission.html">MISIÓN</a></li>
                                <li><a href="newf.html">COMISIÓN</a></li>
                                <li><a href="form.html">FORMACIÓN</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="index.html#contacto">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>
