<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">    

    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
{% include api_facebook.html %}
    <link href="{{ site.css_path }}/bootstrap.min.css" rel='stylesheet' type="text/css"/>
    <link href="{{ site.css_path }}/style.css" rel='stylesheet' type="text/css"/>
    <link rel='stylesheet' type="text/css" href="{{ site.js_path }}/dzsparallaxer/dzsparallaxer.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
    <script src="{{ site.js_path }}/dzsparallaxer/dzsparallaxer.js" type="text/javascript"></script>
    <script src="{{ site.js_path }}/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ site.js_path }}/par.js" type="text/javascript"></script>
</head>
