<header class="site-header">

    <section class="mcon-mainmenu" style="z-index: 5;">

        <div class="container">
            <div class="row">
                <div class="logo-con col-md-3 col-sm-6">
                    <img src="{{ site.images_path }}/logos/Lateral_sinfondo.png" alt="{{ site.title }}" style="margin:0 auto"/>
                </div>
                <div class="col-md-9 col-sm-6">
                    <ul class="main-menu nav navbar-right">
                        <li class="home"><a href="index.html">INICIO</a></li>
                        <li class="domingos"><a href="domingos.html">DOMINGOS</a></li>
                        <li class="mission"><a href="mission.html">CONÉCTATE</a></li>
                        <li class=""><a href="3d.html">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>
